* {
  box-sizing: border-box;
}

.order-form {
  display: grid;
  gap: 1rem;
  max-width: 360px;
}

.form-group {
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
}

.form-control {
  width: 100%;
}

.form-check {
  margin: 0 6px 0 0;
}

.form-output {
  padding: 9px;
  font-weight: bold;
  text-align: center;
  background: #e6e9ed;
}

output {
  color: var(--danger-color);
}
