ul {
  display: flex;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

span {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
