.search-bar .form-control {
  --input-color: var(--secondary-color-lighter);
  border-color: transparent;
  border-radius: 15px;
}

.search-bar .btn {
  --btn-color: var(--secondary-color-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  border-color: transparent;
  border-radius: 15px;
}
