.accordion {
  --text-color: var(--secondary-color-darker);
  --active-color: var(--primary-color);
  --line-color: var(--secondary-color);

  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--text-color);

  &-item {
    a {
      display: flex;
      justify-content: space-between;
      padding: 18px;
      font-size: 21px;
      color: currentColor;
      text-decoration: none;
      border-bottom: 1px solid var(--line-color);
      cursor: pointer;

      .accordion-toggle {
        transition: 0.3s;
        transform: scale(1.5);
      }

      &:hover,
      &:target {
        color: var(--active-color);
        border-bottom: 1px solid currentColor;
      }
    }

    &:target {
      a .accordion-toggle {
        transform: scale(1.5) rotate(0.5turn);
      }

      .accordion-content {
        padding: 18px;
        max-height: 180px;
        opacity: 1;
      }
    }
  }

  &-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s 0.15s;
  }
}
