.alert {
  --close-icon-color: currentColor;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 28px;
  margin: 0 0 1rem 0;
  background: var(--alert-color);
  border-radius: 4px;
  transition: 0.3s;

  @each $type in $types {
    @include alert-color-with-state($type);
  }
}
