[data-badge] {
  --badge-color: var(--btn-bg);

  &::after {
    @include flex-center;
    position: absolute;
    top: 0;
    right: 0;
    content: attr(data-badge);
    box-sizing: border-box;
    min-width: unit(4.5);
    height: unit(4.5);
    padding: unit(0.5) unit(1);
    font-size: unit(3);
    line-height: 1;
    background: var(--badge-color);
    border-radius: 9px;
    box-shadow: 0 0 0 2px white;
    transform: translate(50%, -50%);
  }
}
