.btn {
  position: relative;
  padding: 12px 20px;
  font-size: 100%;
  line-height: 1;
  color: black;
  text-decoration: none;
  background-color: var(--btn-color, white);
  border: 1px solid var(--btn-color, #ccd1d9);
  border-radius: 4px;
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  &:hover {
    border-color: var(--btn-color, #aab2bd);
  }

  &:focus {
    border-color: var(--btn-color, #5d9cec);
  }

  &:active {
    border-color: var(--btn-color, #434a54);
  }

  @each $type in $types {
    @include btn-color-with-state($type);
  }

  &-round {
    padding: 12px 24px;
    border-radius: 20px;
  }

  &-circle {
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.loading {
    color: transparent;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 18px;
      height: 18px;
      background: none;
      border: 4px solid white;
      border-radius: 50%;
      clip-path: inset(0 0 50% 0);
      transform: translate(-50%, -50%) rotate(0);
      animation: spin 0.6s linear infinite;
    }
  }

  &-ghost {
    color: var(--btn-color);
    background-color: transparent;
    border-color: var(--btn-color);
    transition: 0.3s;

    &:hover {
      color: white;
      background: var(--btn-color);
    }
  }

  &-jittery {
    animation: jittery 4s infinite;
  }

  &-icon {
    position: relative;
    margin-left: 8px;

    svg {
      position: absolute;
      top: 10%;
      left: 40%;
      transform: translate(-16%, 400%);
      transition: 0.2s;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
    }

    &:hover {
      svg {
        transform: translate(-16%, 42%);
      }

      span {
        transform: translateY(-400%);
      }
    }
  }

  &-jelly {
    &:hover {
      animation: jelly 0.5s;
    }
  }

  &-fill {
    transition: 0.3s;

    &:hover {
      background: transparent;
      box-shadow: inset 0 0 0 2em var(--btn-color);
    }
  }

  &-open {
    transition: 0.3s;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: var(--btn-color);
      transform: scaleX(0);
      transition: 0.3s;
    }

    &:hover {
      background: transparent;

      &::before {
        transform: scaleX(1);
      }
    }
  }

  &-pulse {
    &:hover {
      box-shadow: 0 0 0 1em transparent;
      animation: pulse 1s;
    }
  }

  &-close {
    transition: 0.3s;

    &:hover {
      background: transparent;
      box-shadow: inset 3em 0 0 0 var(--btn-color),
        inset -3em 0 0 0 var(--btn-color);
    }
  }

  &-slash {
    transition: 0.3s;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 120%;
      height: 210%;
      background: var(--btn-color);
      transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
      transition: 0.3s;
    }

    &:hover {
      background: transparent;

      &::before {
        transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
      }
    }
  }

  &-fill-up {
    transition: 0.3s;

    &:hover {
      background: transparent;
      box-shadow: inset 0 -3em 0 0 var(--btn-color);
    }
  }

  &-slide {
    transition: 0.3s;

    &:hover {
      background: transparent;
      box-shadow: inset 5em 0 0 0 var(--btn-color);
    }
  }

  &-through {
    transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1); // ease-in-out-quartic;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: var(--btn-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &:hover {
      color: white;
      background: transparent;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &-offset {
    border-radius: 0;
    box-shadow: 0.3em 0.3em 0 0 var(--btn-color),
      inset 0.3em 0.3em 0 0 var(--btn-color);
    transition: 0.3s;

    &:hover {
      background: transparent;
      box-shadow: 0 0 0 0 var(--btn-color), inset 6em 4em 0 0 var(--btn-color);
    }
  }

  &-flip-down {
    --flip-button-height: 40px;
    height: var(--flip-button-height);
    color: transparent;
    border: none;
    border-radius: 0;
    perspective: 500px;
    overflow: visible;
    transition: 0.3s;

    &:hover {
      color: transparent;
      background: transparent;
    }

    .front,
    .back {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .front {
      background: var(--btn-color);
      color: white;
      transition: 0.3s;
      transform-origin: center center calc(var(--flip-button-height) / -2);
    }

    .back {
      color: white;
      background: var(--btn-color);
      transform: rotateX(88deg);
      transform-origin: center center calc(var(--flip-button-height) / -2);
      transition: 0.3s;
    }

    &:hover {
      .front {
        transform: rotateX(-90deg);
      }

      .back {
        transform: rotateX(0deg);
      }
    }
  }

  &-marquee {
    font-weight: 600;
    border: none;
    border-radius: 1.5rem;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    span {
      display: block;
      padding: 0 20px;
      animation: move-left 2s linear infinite;

      &::after {
        position: absolute;
        content: attr(data-text);
        top: 0;
        left: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-cross {
    border-radius: 1.5rem;
    transform: rotate(0);
    transition: 0.3s;

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      z-index: -1;
      width: 100%;
      height: 50%;
      background: var(--btn-color);
      transform: scaleX(0);
      transition: transform 0.5s;
    }

    &::before {
      top: 0;
      transform-origin: left;
    }

    &::after {
      top: 50%;
      transform-origin: right;
    }

    &:hover {
      background: transparent;

      &::before,
      &::after {
        transform: scaleX(1);
      }

      &::before {
        transform-origin: right;
      }

      &::after {
        transform-origin: left;
      }
    }
  }

  &-open-line {
    border: none;
    overflow: visible;
    transition: 0.3s;

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--btn-color);
      opacity: 0;
      transform: scaleX(0);
      transition: 0.4s ease-in-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover {
      letter-spacing: 5px;
      color: var(--btn-color);
      background: transparent;

      &::before,
      &::after {
        opacity: 1;
        transform: scaleX(1.2);
      }
    }
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  15% {
    transform: scale(1.15);
  }

  20% {
    transform: scale(1.15) rotate(-5deg);
  }

  25% {
    transform: scale(1.15) rotate(5deg);
  }

  30% {
    transform: scale(1.15) rotate(-3deg);
  }

  35% {
    transform: scale(1.15) rotate(2deg);
  }

  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--btn-color);
  }
}

@keyframes move-left {
  to {
    transform: translateX(-100%);
  }
}

.btn-group {
  --divider-color: #f5f7fa;
  --divider-length: 1px;

  display: flex;

  .btn {
    border: calc(var(--divider-length) / 2) solid var(--divider-color);
    border-top: none;
    border-bottom: none;

    &:first-child {
      border-left: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-right: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}
