.btn {
  position: relative;
  padding: 12px 20px;
  color: black;
  background-color: var(--btn-color, white);
  border: 1px solid var(--btn-color, var(--secondary-color));
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;

  &:hover {
    border-color: var(--btn-color, var(--secondary-color-darker));
  }

  &:focus {
    border-color: var(--btn-color, var(--primary-color-darker));
  }

  &:active {
    border-color: var(--btn-color, var(--secondary-color-darker));
  }

  @each $type in $types {
    @include btn-color-with-state($type);
  }

  &-round {
    padding: 12px 24px;
    border-radius: 30px;
  }

  &-circle {
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;

    i {
      display: inline-flex;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.loading {
    color: transparent;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 18px;
      height: 18px;
      background: none;
      border: 4px solid white;
      border-radius: 50%;
      clip-path: inset(0 0 50% 0);
      transform: translate(-50%, -50%) rotate(0);
      animation: spin 0.6s linear infinite;
    }
  }

  &-ghost {
    color: var(--btn-color);
    background-color: transparent;
    border-color: var(--btn-color);
    transition: 0.3s;

    &:hover {
      color: white;
      background: var(--btn-color);
    }
  }
}

.btn-group {
  --divider-color: var(--secondary-color-lighter);
  --divider-length: 1px;

  display: flex;

  .btn {
    border: calc(var(--divider-length) / 2) solid var(--divider-color);
    border-top: none;
    border-bottom: none;

    &:first-child {
      border-left: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-right: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}
