.card {
  --card-padding: #{unit(3)};
  --card-bg: white;
  --card-radius: 15px;

  position: relative;
  box-sizing: border-box;
  padding: var(--card-padding);
  background: var(--card-bg);
  border-radius: var(--card-radius);
}
