.form-check-input[type="checkbox"] {
  --checkbox-bg-color: white;
  --border-color: var(--secondary-color);
  --checkbox-hover-color: var(--secondary-color-darker);
  --checkbox-checked-color: var(--primary-color);
  --checkbox-disabled-bg-color: var(--secondary-color-lighter);
  --checkbox-disabled-checked-color: var(--secondary-color-darker);

  position: relative;
  width: 18px;
  height: 18px;
  margin: 0;
  background: var(--checkbox-checked-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  outline: none;
  transition: 0.3s;

  & ~ .form-check-label {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  &::before {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='white' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
    transform: scale(0);
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--checkbox-bg-color);
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--border-color);
    transition: 0.2s;
  }

  &:hover {
    --border-color: var(--checkbox-hover-color);
  }

  &:checked {
    &::before {
      animation: scale-in 0.1s 0.2s linear forwards;
    }

    &::after {
      transform: scale(0);
    }
  }

  &:disabled {
    --checkbox-bg-color: var(--checkbox-disabled-bg-color);
    --checkbox-checked-color: var(--checkbox-disabled-checked-color);

    cursor: not-allowed;

    & ~ .form-check-label {
      cursor: not-allowed;
    }
  }

  &:indeterminate {
    &::after {
      transform: scale(0.5);
    }
  }
}
