.form-check {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.form-check-inline {
  display: inline-flex;
  margin-right: 12px;
}

.form-group {
  display: flex;
  align-items: center;
}
