.dialog {
  --dialog-width: #{unit(70)};
  --dialog-padding: #{unit(8)};
  --dialog-bg: white;
  --dialog-radius: 15px;

  @include hv-center($position: fixed);
  z-index: 1001;
  box-sizing: border-box;
  width: var(--dialog-width);
  padding: var(--dialog-padding);
  background: var(--dialog-bg);
  border-radius: var(--dialog-radius);
  animation: bounce-in 0.6s forwards;

  .close-icon {
    --close-icon-width: #{unit(12)};

    @include h-center;
    bottom: unit(-16);
  }
}

.backdrop {
  @include cover($position: fixed);
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
  transition: 0.6s;
}
