.divider {
  --divider-text: none;
  --divider-border-color: var(--secondary-color-lighter);
  --divider-color: var(--secondary-color-darkest);
  --divider-text-align: center;

  width: 100%;
  max-height: 1px;
  line-height: 1;
  border: none;
  border-top: 1px solid var(--divider-border-color);
  text-align: var(--divider-text-align);
  overflow: visible;

  &::after {
    position: relative;
    content: var(--divider-text);
    top: -0.5em;
    padding: 0 18px;
    color: var(--divider-color);
    background: hsl(0, 0%, 100%);
  }
}
