.dropdown {
  --toggle-color: black;
  --menu-item-color: var(--primary-color);
  --menu-item-hover-color: var(--primary-color-darker);
  --menu-item-divider-color: rgba(255, 255, 255, 0.2);
  --menu-text-color: white;

  .dropdown-toggle {
    display: block;
    padding: 10px 0;
    color: var(--toggle-color);
    transition: 0.4s;

    &::after {
      display: inline-flex;
      vertical-align: middle;
      margin-left: 10px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 6px;
      border-color: var(--toggle-color) transparent transparent transparent;
      transition: 0.4s;
    }
  }

  .dropdown-menu {
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: top;
    transition: 0.4s;

    .dropdown-item a {
      display: block;
      padding: 10px;
      text-align: center;
      color: var(--menu-text-color);
      background: var(--menu-item-color);
      transition: 0.4s;

      &:hover {
        background: var(--menu-item-hover-color);
      }
    }

    .dropdown-item:not(:last-child) a {
      border-bottom: 1px solid var(--menu-item-divider-color);
    }
  }

  &:hover {
    .dropdown-toggle {
      color: var(--menu-item-color);

      &::after {
        border-top-color: var(--menu-item-color);
        transform: scaleY(-1);
      }
    }

    .dropdown-menu {
      transform: rotate(0);
    }
  }
}
