.gauge {
  --gauge-width: #{unit(22.5)};
  --gauge-value: 500;
  --gauge-max-value: 1000;
  --gauge-percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  --gauge-bg: white;
  --gauge-circle-color: var(--primary-color);
  --gauge-circle-color-lighter: var(--primary-color-lighter);
  --gauge-color: black;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--gauge-width);
  height: var(--gauge-width);
  color: var(--gauge-color);
  background: conic-gradient(
    var(--gauge-circle-color) var(--gauge-percentage),
    var(--gauge-circle-color-lighter) 0
  );
  border-radius: 50%;
  counter-reset: value var(--gauge-value);

  &::before {
    position: absolute;
    content: counter(value);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background: var(--gauge-bg);
    border-radius: inherit;
  }

  @each $type in $types {
    @include gauge-color-with-state($type);
  }
}
