.gauge {
  --gauge-value: 500;
  --gauge-max-value: 1000;
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  --bg-color: white;
  --gauge-color: var(--primary-color);
  --gauge-color-lighter: var(--primary-color-lighter);
  --text-color: black;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  color: var(--text-color);
  background: conic-gradient(
    var(--gauge-color) var(--percentage),
    var(--gauge-color-lighter) 0
  );
  border-radius: 50%;
  counter-reset: value var(--gauge-value);

  &::before {
    position: absolute;
    content: counter(value);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background: var(--bg-color);
    border-radius: inherit;
  }

  @each $type in $types {
    @include gauge-color-with-state($type);
  }
}
