.close-icon {
  position: relative;
  width: 18px;
  height: 18px;
  background: var(--close-icon-color, var(--secondary-color-darker));
  border-radius: 50%;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background: var(--close-icon-cross-color, white);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    width: 50%;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 50%;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

.love-icon {
  --heart-color: #bdc3c7;
  --heart-active-color: var(--danger-color);
  --bg-color: white;

  position: relative;
  width: 16px;
  height: 16px;

  input {
    position: absolute;
    opacity: 0;

    &:checked {
      & ~ * {
        --heart-color: var(--heart-active-color);
      }

      & ~ {
        .heart {
          animation: scale-out-elastic 1.2s ease-out reverse forwards;
        }

        .lines {
          .line::before {
            animation: slide-left-right 0.4s ease-in forwards;
          }
        }

        .ring {
          background: var(--heart-color);
          animation: scale-out-bigger 0.75s cubic-bezier(0, 1, 0.5, 1) forwards;

          &::before {
            animation: scale-out 0.75s cubic-bezier(0, 1, 0.5, 1) forwards;
          }
        }
      }
    }
  }

  .heart {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--heart-color);
    cursor: pointer;
    transform: rotate(-45deg);

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: 50%;
    }

    &::before {
      top: -50%;
    }

    &::after {
      right: -50%;
    }
  }

  .lines {
    position: absolute;
    top: 4px;
    z-index: 1;
    width: 16px;
    height: 16px;
    pointer-events: none;

    .line {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 1px;
      opacity: 0.6;

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transform: rotate($i * 60deg + 30deg) translate(36px);
        }
      }

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--heart-color);
        transform: scaleX(0);
        transform-origin: left;
      }
    }
  }

  .ring {
    position: relative;
    z-index: -1;
    top: -60%;
    left: -43%;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    opacity: 0.3;
    pointer-events: none;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      border-radius: inherit;
      transform: scale(0);
      pointer-events: none;
    }
  }
}
