.close-icon {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  background: var(--close-icon-color, var(--secondary-color-darker));
  border-radius: 50%;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background: var(--close-icon-cross-color, white);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    width: 50%;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 50%;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

.chevron-icon {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: var(--chevron-color);

  &::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-color: currentColor;
    transform: rotate(var(--chevron-rotate-deg));
  }

  &.up {
    --chevron-rotate-deg: -45deg;

    &::before {
      left: 4px;
      bottom: 2px;
      border-top: 2px solid;
      border-right: 2px solid;
    }
  }

  &.right {
    --chevron-rotate-deg: -45deg;

    &::before {
      top: 4px;
      right: 6px;
      border-bottom: 2px solid;
      border-right: 2px solid;
    }
  }

  &.down {
    --chevron-rotate-deg: 45deg;

    &::before {
      left: 4px;
      top: 2px;
      border-bottom: 2px solid;
      border-right: 2px solid;
    }
  }

  &.left {
    --chevron-rotate-deg: 45deg;

    &::before {
      left: 6px;
      top: 4px;
      border-bottom: 2px solid;
      border-left: 2px solid;
    }
  }

  &.circle {
    border: 2px solid currentColor;
    border-radius: 50%;

    &::before {
      width: 6px;
      height: 6px;
    }

    &.down::before {
      left: 6px;
      top: 5px;
    }

    &.right::before {
      left: 5px;
      top: 6px;
    }

    &.up::before {
      left: 6px;
      bottom: 5px;
    }

    &.left::before {
      left: 7px;
      top: 6px;
    }
  }
}

.search-icon {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: -4px 0 0 -4px;
  color: var(--search-color);
  border: 2px solid currentColor;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 12px;
    box-sizing: border-box;
    width: 2px;
    height: 8px;
    background: currentColor;
    border-radius: 3px;
    transform: rotate(-45deg);
  }
}

.plus-icon {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  color: var(--plus-color);
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    display: block;
    box-sizing: border-box;
    background: currentColor;
    border-radius: 10px;
  }

  &::before {
    top: 7px;
    width: 16px;
    height: 2px;
  }

  &::after {
    left: 7px;
    width: 2px;
    height: 16px;
  }
}

.minus-icon {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  color: var(--minus-color);
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 2px;
    background: currentColor;
    border-radius: 10px;
  }
}
