@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

@keyframes scale-in {
  to {
    transform: scale(1);
  }
}

@keyframes scale-in-smaller {
  to {
    transform: scale(0.5);
  }
}

@keyframes scale-out-in {
  35% {
    transform: scale(0);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
