@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  15% {
    transform: scale(1.15);
  }

  20% {
    transform: scale(1.15) rotate(-5deg);
  }

  25% {
    transform: scale(1.15) rotate(5deg);
  }

  30% {
    transform: scale(1.15) rotate(-3deg);
  }

  35% {
    transform: scale(1.15) rotate(2deg);
  }

  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--btn-color);
  }
}

@keyframes move-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes scale-in {
  to {
    transform: scale(1);
  }
}

@keyframes scale-in-bounce {
  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-in-smaller {
  to {
    transform: scale(0.5);
  }
}

@keyframes scale-in-bounce-smaller {
  50% {
    transform: scale(0.55);
  }

  75% {
    transform: scale(0.45);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes shadow-burst {
  to {
    box-shadow: 0 0 20px 10px transparent;
  }
}

@keyframes scale-out-in {
  35% {
    transform: scale(0);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
