@mixin btn-color-with-state($type) {
  &-#{$type} {
    --btn-color: white;
    --btn-bg: var(--#{$type}-color);
    --btn-border-color: var(--btn-bg);

    &:active {
      --btn-bg: var(--#{$type}-color-darker);
    }

    &.disabled {
      --btn-bg: var(--#{$type}-color-lighter);
    }
  }
}

@mixin gauge-color-with-state($type) {
  &-#{$type} {
    --gauge-circle-color: var(--#{$type}-color);
    --gauge-circle-color-lighter: var(--#{$type}-color-lighter);
  }
}

@mixin alert-color-with-state($type) {
  &-#{$type} {
    color: var(--#{$type}-color-darker);
    --alert-color: var(--#{$type}-color-lighter);
  }
}

@mixin tag-color-with-state($type) {
  &-#{$type} {
    color: var(--#{$type}-color-darker);
    --tag-color: var(--#{$type}-color-lighter);
  }
}

@mixin text-color-with-state($type) {
  .text-#{$type} {
    color: var(--#{$type}-color);
  }

  .text-#{$type}-darker {
    color: var(--#{$type}-color-darker);
  }

  .text-#{$type}-lighter {
    color: var(--#{$type}-color-lighter);
  }
}

@mixin bg-color-with-state($type) {
  .bg-#{$type} {
    background: var(--#{$type}-color);
  }

  .bg-#{$type}-darker {
    background: var(--#{$type}-color-darker);
  }

  .bg-#{$type}-lighter {
    background: var(--#{$type}-color-lighter);
  }
}

@mixin border-color-with-state($type) {
  .border-#{$type} {
    border-color: var(--#{$type}-color);
  }

  .border-#{$type}-darker {
    border-color: var(--#{$type}-color-darker);
  }

  .border-#{$type}-lighter {
    border-color: var(--#{$type}-color-lighter);
  }
}

@each $type in $types {
  @include text-color-with-state($type);
  @include bg-color-with-state($type);
  @include border-color-with-state($type);
}

.text-secondary-lightest {
  color: var(--secondary-color-lightest);
}

.text-secondary-darkest {
  color: var(--secondary-color-darkest);
}

.bg-secondary-lightest {
  background: var(--secondary-color-lightest);
}

.bg-secondary-darkest {
  background: var(--secondary-color-darkest);
}
