@mixin btn-color-with-state($type) {
  &-#{$type} {
    color: white;
    --btn-color: var(--#{$type}-color);

    &:active {
      --btn-color: var(--#{$type}-color-darker);
    }

    &.disabled {
      --btn-color: var(--#{$type}-color-lighter);
    }
  }
}

@mixin gauge-color-with-state($type) {
  &-#{$type} {
    --gauge-color: var(--#{$type}-color);
    --gauge-color-lighter: var(--#{$type}-color-lighter);
  }
}

@mixin alert-color-with-state($type) {
  &-#{$type} {
    color: var(--#{$type}-color-darker);
    --alert-color: var(--#{$type}-color-lighter);
  }
}

@mixin tag-color-with-state($type) {
  &-#{$type} {
    color: var(--#{$type}-color-darker);
    --tag-color: var(--#{$type}-color-lighter);
  }
}
