button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  border: none;
  cursor: pointer;
}
