.pagination {
  --active-color: var(--primary-color);
  --disabled-color: var(--secondary-color);

  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1;

  .page-item {
    padding: 0 12px;
    cursor: pointer;

    &:not(.disabled):hover,
    &.active {
      .page-link {
        color: var(--active-color);
        fill: var(--active-color);
      }
    }

    &.active {
      cursor: default;

      .page-link {
        cursor: default;
      }
    }

    &.disabled {
      cursor: not-allowed;

      .page-link {
        color: var(--disabled-color);
        fill: var(--disabled-color);
        cursor: not-allowed;
      }
    }
  }

  .page-link {
    color: black;
    text-decoration: none;
    transition: 0.1s;

    .arrow {
      transition: 0.1s;
    }
  }
}
