.form-check-input[type="radio"] {
  --radio-bg-color: white;
  --border-color: var(--secondary-color);
  --radio-hover-color: var(--secondary-color-darker);
  --radio-checked-color: var(--primary-color);
  --radio-disabled-bg-color: var(--secondary-color-lighter);
  --radio-disabled-checked-color: var(--secondary-color-darker);

  position: relative;
  width: 18px;
  height: 18px;
  margin: 0;
  background: var(--radio-checked-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  outline: none;
  transition: 0.3s;

  & ~ .form-check-label {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--radio-bg-color);
    border-radius: inherit;
    transform: scale(0);
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--radio-bg-color);
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--border-color);
    transition: 0.2s;
  }

  &:hover {
    --border-color: var(--radio-hover-color);
  }

  &:checked {
    &::before {
      animation: scale-in-smaller 0.1s 0.2s linear forwards;
    }

    &::after {
      transform: scale(0);
    }
  }

  &:disabled {
    --radio-bg-color: var(--radio-disabled-bg-color);
    --radio-checked-color: var(--radio-disabled-checked-color);

    cursor: not-allowed;

    & ~ .form-check-label {
      cursor: not-allowed;
    }
  }
}
