.rate {
  --star-color: var(--warning-color);

  display: flex;
  flex-direction: row-reverse;
  color: var(--star-color);

  input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    appearance: none;

    &:checked ~ label::after {
      opacity: 1;
    }

    &:checked ~ label::before {
      opacity: 0;
    }
  }

  label {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: 0.3s;

    &:not(:first-child) {
      margin-right: 6px;
    }

    &:hover::after {
      transform: scale(1.2);
    }

    &::before {
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg t='1584099080940' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='9773' width='1em' height='1em' fill='currentColor' %3E%3Cpath d='M686.153143 573.732571l174.884571-169.691429-241.152-35.401143-108.032-218.258286-108.032 218.258286-241.152 35.401143 174.884571 169.691429-41.691429 240.566857 215.990857-113.737143 215.405714 113.737143zM987.282286 369.737143q0 12.580571-14.848 27.428571l-207.433143 202.313143 49.152 285.696q0.585143 4.022857 0.585143 11.410286 0 28.598857-23.405714 28.598857-10.825143 0-22.820571-6.875429l-256.585143-134.875429-256.585143 134.875429q-12.580571 6.875429-22.820571 6.875429-11.995429 0-17.993143-8.265143t-5.997714-20.260571q0-3.437714 1.170286-11.410286l49.152-285.696-208.018286-202.313143q-14.262857-15.433143-14.262857-27.428571 0-21.138286 32.036571-26.258286l286.866286-41.691429 128.585143-260.022857q10.825143-23.405714 28.013714-23.405714t28.013714 23.405714l128.585143 260.022857 286.866286 41.691429q32.036571 5.12 32.036571 26.258286z' p-id='9774' %3E%3C/path%3E%3C/svg %3E");
      transition: 0.3s;
    }

    &::after {
      position: absolute;
      z-index: 1;
      content: url("data:image/svg+xml,%3Csvg t='1584099189586' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='10117' fill='%23fcbb42' width='18px' height='18px'%3E%3Cpath d='M987.282286 369.737143q0 12.580571-14.848 27.428571l-207.433143 202.313143 49.152 285.696q0.585143 4.022857 0.585143 11.410286 0 11.995429-5.997714 20.260571t-17.408 8.265143q-10.825143 0-22.820571-6.875429l-256.585143-134.875429-256.585143 134.875429q-12.580571 6.875429-22.820571 6.875429-11.995429 0-17.993143-8.265143t-5.997714-20.260571q0-3.437714 1.170286-11.410286l49.152-285.696-208.018286-202.313143q-14.262857-15.433143-14.262857-27.428571 0-21.138286 32.036571-26.258286l286.866286-41.691429 128.585143-260.022857q10.825143-23.405714 28.013714-23.405714t28.013714 23.405714l128.585143 260.022857 286.866286 41.691429q32.036571 5.12 32.036571 26.258286z' p-id='10118'%3E%3C/path%3E%3C/svg%3E");
      opacity: 0;
      transition: 0.3s;
    }

    &:hover::before,
    &:hover ~ label::before {
      opacity: 0 !important;
    }

    &:hover::after,
    &:hover ~ label::after {
      opacity: 1 !important;
    }
  }
  
  &:hover input:checked ~ label::before {
    opacity: 1;
  }

  &:hover input:checked ~ label::after {
    opacity: 0;
  }
}
