.form-switch {
  --switch-width: 41px;
  --switch-height: 21px;
  --switch-bg: white;
  --switch-radius: 12px;
  --switch-ball-width: 15px;
  --switch-ball-bg: var(--secondary-color);
  --switch-checked-ball-bg: white;
  --switch-border-color: var(--secondary-color);
  --switch-hover-border-color: var(--secondary-color-darker);
  --switch-checked-bg: var(--primary-color);
  --switch-disabled-bg: var(--secondary-color-lighter);
  --switch-disabled-checked-bg: var(--secondary-color-darker);

  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border: 1px solid var(--switch-border-color);
  border-radius: var(--switch-radius);
  cursor: pointer;
  transition: 0.3s;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: var(--switch-ball-width);
    height: var(--switch-ball-width);
    background: var(--switch-ball-bg);
    border-radius: 50%;
    transition: 0.3s;
  }

  & ~ .form-check-label {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  &:hover {
    --switch-border-color: var(--switch-hover-border-color);
  }

  &:checked {
    --switch-bg: var(--switch-checked-bg);
    --switch-border-color: var(--switch-checked-bg);

    &::before {
      --switch-ball-bg: var(--switch-checked-ball-bg);
      transform: translateX(20px);
    }
  }

  &:disabled {
    --switch-bg: var(--switch-disabled-bg);
    --switch-checked-bg: var(--switch-disabled-checked-bg);

    cursor: not-allowed;

    & ~ .form-check-label {
      cursor: not-allowed;
    }
  }
}
