.table {
  --table-row-border-color: var(--secondary-color);
  --table-thead-color: var(--secondary-color-darkest);
  --table-thead-bg: var(--secondary-color-lightest);
  --table-td-padding: 12px;
  --table-td-align: left;

  border-collapse: collapse;

  thead {
    color: var(--table-thead-color);
    background: var(--table-thead-bg);
  }

  tbody tr {
    border-bottom: 1px solid var(--table-row-border-color);
  }

  td,
  th {
    padding: var(--table-td-padding);
    text-align: var(--table-td-align);
  }
}
