.timeline {
  --timeline-color: black;
  --timeline-line-color: var(--secondary-color-lighter);
  --timeline-dot-bg: white;
  --timeline-dot-color: var(--primary-color);
  --timeline-timestamp-col: 3;

  position: relative;
  display: grid;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 1;
  color: var(--timeline-color);

  &-line {
    position: absolute;
    top: 0;
    left: 6px;
    width: 4px;
    height: 100%;
    background: var(--timeline-line-color);
  }

  &-item {
    &__timestamp {
      display: grid;
      grid-template-columns: repeat(var(--timeline-timestamp-col), auto) 1fr;
      align-items: center;
      gap: 6px;

      .dot {
        position: relative;
        width: 16px;
        height: 16px;
        background: var(--timeline-dot-bg);
        border-radius: 50%;

        &::before {
          position: absolute;
          content: "";
          top: -4px;
          left: -4px;
          right: -4px;
          bottom: -4px;
          background: var(--timeline-dot-bg);
        }

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 8px;
          height: 8px;
          border: 4px solid var(--timeline-dot-color);
          border-radius: inherit;
        }
      }

      a {
        font-weight: bold;
        color: var(--primary-color);
        text-decoration: none;
      }
    }

    &__content {
      margin: 18px 0 0 63px;
      line-height: 1.5;
    }
  }
}
