$unit-ratio: 0.25;
$unit: rem;
$spacing-total: 40;
$sizing-total: 64;
$text-ratio: 1;
$px-unit: px;
$px-unit-ratio: 1;

.box-border {
  box-sizing: border-box;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.flow-root {
  display: flow-root;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.object-none {
  object-fit: none;
}

.object-scale-down {
  object-fit: scale-down;
}

.object-top {
  object-position: top;
}

.object-right {
  object-position: right;
}

.object-bottom {
  object-position: bottom;
}

.object-left {
  object-position: left;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.inset-x-0 {
  left: 0;
  right: 0;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.z-0 {
  z-index: 0;
}

@for $i from 1 through 5 {
  .z-#{$i} {
    z-index: #{$i};
  }

  .-z-#{$i} {
    z-index: -#{$i};
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
}

.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

@for $i from 0 through 12 {
  .order-#{$i} {
    order: #{$i};
  }
}

@for $i from 1 through $spacing-total {
  .p-#{$i} {
    padding: #{$i*$unit-ratio}#{$unit} !important;
  }

  .pl-#{$i} {
    padding-left: #{$i*$unit-ratio}#{$unit} !important;
  }

  .pr-#{$i} {
    padding-right: #{$i*$unit-ratio}#{$unit} !important;
  }

  .pt-#{$i} {
    padding-top: #{$i*$unit-ratio}#{$unit} !important;
  }

  .pb-#{$i} {
    padding-bottom: #{$i*$unit-ratio}#{$unit} !important;
  }

  .px-#{$i} {
    padding-left: #{$i*$unit-ratio}#{$unit} !important;
    padding-right: #{$i*$unit-ratio}#{$unit} !important;
  }

  .py-#{$i} {
    padding-top: #{$i*$unit-ratio}#{$unit} !important;
    padding-bottom: #{$i*$unit-ratio}#{$unit} !important;
  }

  .m-#{$i} {
    margin: #{$i*$unit-ratio}#{$unit} !important;
  }

  .mt-#{$i} {
    margin-top: #{$i*$unit-ratio}#{$unit} !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i*$unit-ratio}#{$unit} !important;
  }

  .ml-#{$i} {
    margin-left: #{$i*$unit-ratio}#{$unit} !important;
  }

  .mr-#{$i} {
    margin-right: #{$i*$unit-ratio}#{$unit} !important;
  }

  .-mt-#{$i} {
    margin-top: -#{$i*$unit-ratio}#{$unit} !important;
  }

  .-mb-#{$i} {
    margin-bottom: -#{$i*$unit-ratio}#{$unit} !important;
  }

  .-ml-#{$i} {
    margin-left: -#{$i*$unit-ratio}#{$unit} !important;
  }

  .-mr-#{$i} {
    margin-right: -#{$i*$unit-ratio}#{$unit} !important;
  }

  .mx-#{$i} {
    margin-left: #{$i*$unit-ratio}#{$unit} !important;
    margin-right: #{$i*$unit-ratio}#{$unit} !important;
  }

  .my-#{$i} {
    margin-top: #{$i*$unit-ratio}#{$unit} !important;
    margin-bottom: #{$i*$unit-ratio}#{$unit} !important;
  }

  .space-x-#{$i} {
    & > * ~ * {
      margin-left: #{$i*$unit-ratio}#{$unit} !important;
    }
  }

  .space-y-#{$i} {
    & > * ~ * {
      margin-top: #{$i*$unit-ratio}#{$unit} !important;
    }
  }
}

@for $i from 0 through $sizing-total {
  .w-#{$i} {
    width: #{$i*$unit-ratio}#{$unit} !important;
  }
  
  .h-#{$i} {
    height: #{$i*$unit-ratio}#{$unit} !important;
  }
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.max-w-full {
  max-width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.max-h-screen {
  max-height: 100vh;
}

.text-xs {
  font-size: #{0.75*$text-ratio}#{$unit};
}

.text-sm {
  font-size: #{0.875*$text-ratio}#{$unit};
}

.text-base {
  font-size: #{1*$text-ratio}#{$unit};
}

.text-lg {
  font-size: #{1.125*$text-ratio}#{$unit};
}

.text-xl {
  font-size: #{1.25*$text-ratio}#{$unit};
}

.text-2xl {
  font-size: #{1.5*$text-ratio}#{$unit};
}

.text-3xl {
  font-size: #{1.875*$text-ratio}#{$unit};
}

.text-4xl {
  font-size: #{2.25*$text-ratio}#{$unit};
}

.text-5xl {
  font-size: #{3*$text-ratio}#{$unit};
}

.text-6xl {
  font-size: #{4*$text-ratio}#{$unit};
}

.italic {
  font-style: italic;
}

.font-bold {
  font-weight: bold;
}

.tracking-wide {
  letter-spacing: 0.025rem;
}

.tracking-wider {
  letter-spacing: 0.05rem;
}

.tracking-widest {
  letter-spacing: 0.1rem;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-transparent {
  color: transparent;
}

.text-white {
  color: white;
}

.text-current {
  color: currentColor;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-words {
  overflow-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-multi {
  --line-clamp: 2;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
}

.bg-clip-text {
  background-clip: text;
}

.bg-transparent {
  background: transparent;
}

.bg-current {
  background: currentColor;
}

.bg-white {
  background: white;
}

.bg-black {
  background: black;
}

.rounded-sm {
  border-radius: #{5*$px-unit-ratio}#{$px-unit};
}

.rounded {
  border-radius: #{10*$px-unit-ratio}#{$px-unit};
}

.rounded-md {
  border-radius: #{15*$px-unit-ratio}#{$px-unit};
}

.rounded-lg {
  border-radius: #{20*$px-unit-ratio}#{$px-unit};
}

.rounded-full {
  border-radius: 50%;
}

.border {
  border-width: #{1*$px-unit-ratio}#{$px-unit};
}

.border-2 {
  border-width: #{2*$px-unit-ratio}#{$px-unit};
}

.border-4 {
  border-width: #{4*$px-unit-ratio}#{$px-unit};
}

.border-8 {
  border-width: #{8*$px-unit-ratio}#{$px-unit};
}

.border-transparent {
  border-color: transparent;
}

.border-current {
  border-color: currentColor;
}

.border-black {
  border-color: black;
}

.border-white {
  border-color: white;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.shadow-sm {
  box-shadow: 0 #{1*$px-unit-ratio}#{$px-unit} #{2*$px-unit-ratio}#{$px-unit} 0 rgba(0, 0, 0, 0.05);
}

.shadow {
  box-shadow: 0 #{1*$px-unit-ratio}#{$px-unit} #{3*$px-unit-ratio}#{$px-unit} 0 rgba(0, 0, 0, 0.1), 0 #{1*$px-unit-ratio}#{$px-unit} #{2*$px-unit-ratio}#{$px-unit} 0 rgba(0, 0, 0, 0.06);
}

.shadow-md {
  box-shadow: 0 #{4*$px-unit-ratio}#{$px-unit} #{6*$px-unit-ratio}#{$px-unit} #{-1*$px-unit-ratio}#{$px-unit} rgba(0, 0, 0, 0.1), 0 #{2*$px-unit-ratio}#{$px-unit} #{4*$px-unit-ratio}#{$px-unit} #{-1*$px-unit-ratio}#{$px-unit} rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 #{10*$px-unit-ratio}#{$px-unit} #{15*$px-unit-ratio}#{$px-unit} #{-3*$px-unit-ratio}#{$px-unit} rgba(0, 0, 0, 0.1), 0 #{4*$px-unit-ratio}#{$px-unit} #{6*$px-unit-ratio}#{$px-unit} #{-2*$px-unit-ratio}#{$px-unit} rgba(0, 0, 0, 0.05);
}

.shadow-xl {
  box-shadow: 0 #{20*$px-unit-ratio}#{$px-unit} #{25*$px-unit-ratio}#{$px-unit} #{-5*$px-unit-ratio}#{$px-unit} rgba(0, 0, 0, 0.1), 0 #{10*$px-unit-ratio}#{$px-unit} #{10*$px-unit-ratio}#{$px-unit} #{-5*$px-unit-ratio}#{$px-unit} rgba(0, 0, 0, 0.04);
}

.shadow-inner {
  box-shadow: inset 0 #{2*$px-unit-ratio}#{$px-unit} #{4*$px-unit-ratio}#{$px-unit} 0 rgba(0, 0, 0, 0.06);
}

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-100 {
  opacity: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-events-auto {
  pointer-events: auto;
}

.pointer-events-none {
  pointer-events: none;
}

.resize {
  resize: both;
}

.resize-y {
  resize: vertical;
}

.resize-x {
  resize: horizontal;
}

.select-none {
  user-select: none;
}

.select-all {
  user-select: all;
}

.fill-current {
  fill: currentColor;
}

.stroke-current {
  stroke: currentColor;
}

.invisible-block {
  height: var(--height); // 隐形方块，用来撑背景高度
}

.lazyload {
  // 图片懒加载动画
  &[src] {
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

.grayscale {
  filter: grayscale(1); // 变灰
}

.form-group {
  display: flex;
  align-items: center;
}

.form-check {
  display: flex;
  align-items: center;
  margin: #{12*$px-unit-ratio}#{$px-unit} 0;
}

.form-check-inline {
  display: inline-flex;
  margin-right: #{12*$px-unit-ratio}#{$px-unit};
}
