.box-border {
  box-sizing: border-box;
}

.box-content {
  box-sizing: content-box;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.flow-root {
  display: flow-root;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.object-none {
  object-fit: none;
}

.object-scale-down {
  object-fit: scale-down;
}

.object-top {
  object-position: top;
}

.object-right {
  object-position: right;
}

.object-bottom {
  object-position: bottom;
}

.object-left {
  object-position: left;
}

.overflow-auto {
  overflow: auto;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.overflow-scroll-auto {
  -webkit-overflow-scrolling: auto;
}

.overflow-scroll-contain {
  -webkit-overflow-scrolling: contain;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.inset-x-0 {
  left: 0;
  right: 0;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.z-0 {
  z-index: 0;
}

@for $i from 1 through $z-total {
  .z-#{$i} {
    z-index: #{$i};
  }

  .-z-#{$i} {
    z-index: -#{$i};
  }
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.content-center {
  align-content: center;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink {
  flex-shrink: 1;
}

.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

.order-none {
  order: 0;
}

@for $i from 1 through $order-total {
  .order-#{$i} {
    order: #{$i};
  }
}

@for $i from 0 through $spacing-total {
  .top-#{$i} {
    top: unit($i) !important;
  }

  .right-#{$i} {
    right: unit($i) !important;
  }

  .bottom-#{$i} {
    bottom: unit($i) !important;
  }

  .left-#{$i} {
    left: unit($i) !important;
  }

  .-top-#{$i} {
    top: unit(-$i) !important;
  }

  .-right-#{$i} {
    right: unit(-$i) !important;
  }

  .-bottom-#{$i} {
    bottom: unit(-$i) !important;
  }

  .-left-#{$i} {
    left: unit(-$i) !important;
  }

  .p-#{$i} {
    padding: unit($i) !important;
  }

  .pl-#{$i} {
    padding-left: unit($i) !important;
  }

  .pr-#{$i} {
    padding-right: unit($i) !important;
  }

  .pt-#{$i} {
    padding-top: unit($i) !important;
  }

  .pb-#{$i} {
    padding-bottom: unit($i) !important;
  }

  .px-#{$i} {
    padding-left: unit($i) !important;
    padding-right: unit($i) !important;
  }

  .py-#{$i} {
    padding-top: unit($i) !important;
    padding-bottom: unit($i) !important;
  }

  .m-#{$i} {
    margin: unit($i) !important;
  }

  .mt-#{$i} {
    margin-top: unit($i) !important;
  }

  .mb-#{$i} {
    margin-bottom: unit($i) !important;
  }

  .ml-#{$i} {
    margin-left: unit($i) !important;
  }

  .mr-#{$i} {
    margin-right: unit($i) !important;
  }

  .-mt-#{$i} {
    margin-top: unit(-$i) !important;
  }

  .-mb-#{$i} {
    margin-bottom: unit(-$i) !important;
  }

  .-ml-#{$i} {
    margin-left: unit(-$i) !important;
  }

  .-mr-#{$i} {
    margin-right: unit(-$i) !important;
  }

  .mx-#{$i} {
    margin-left: unit($i) !important;
    margin-right: unit($i) !important;
  }

  .my-#{$i} {
    margin-top: unit($i) !important;
    margin-bottom: unit($i) !important;
  }

  .space-x-#{$i} {
    & > * + * {
      margin-left: unit($i) !important;
    }
  }

  .space-y-#{$i} {
    & > * + * {
      margin-top: unit($i) !important;
    }
  }

  .-space-x-#{$i} {
    & > * + * {
      margin-left: unit(-$i) !important;
    }
  }

  .-space-y-#{$i} {
    & > * + * {
      margin-top: unit(-$i) !important;
    }
  }
}

@for $i from 0 through $sizing-total {
  .w-#{$i} {
    width: unit($i) !important;
  }

  .h-#{$i} {
    height: unit($i) !important;
  }
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.max-w-full {
  max-width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.max-h-screen {
  max-height: 100vh;
}

.text-xs {
  font-size: text-unit(0.75);
}

.text-sm {
  font-size: text-unit(0.875);
}

.text-base {
  font-size: text-unit(1);
}

.text-lg {
  font-size: text-unit(1.125);
}

.text-xl {
  font-size: text-unit(1.25);
}

.text-2xl {
  font-size: text-unit(1.5);
}

.text-3xl {
  font-size: text-unit(1.875);
}

.text-4xl {
  font-size: text-unit(2.25);
}

.text-5xl {
  font-size: text-unit(3);
}

.text-6xl {
  font-size: text-unit(3.75);
}

.text-7xl {
  font-size: text-unit(4.5);
}

.text-8xl {
  font-size: text-unit(6);
}

.text-9xl {
  font-size: text-unit(8);
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: bold;
}

.tracking-normal {
  letter-spacing: 0;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-transparent {
  color: transparent;
}

.text-white {
  color: white;
}

.text-current {
  color: currentColor;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.break-words {
  overflow-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-multi {
  --line-clamp: 2;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-clip-border {
  background-clip: border-box;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-clip-content {
  background-clip: content-box;
}

.bg-clip-text {
  background-clip: text;
}

.bg-transparent {
  background: transparent;
}

.bg-current {
  background: currentColor;
}

.bg-white {
  background: white;
}

.bg-black {
  background: black;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 50%;
}

.rounded-t-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rounded-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-b-none {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-8 {
  border-width: 8px;
}

.border-t-0 {
  border-top-width: 0;
}

.border-r-0 {
  border-right-width: 0;
}

.border-b-0 {
  border-bottom-width: 0;
}

.border-l-0 {
  border-left-width: 0;
}

.border-transparent {
  border-color: transparent;
}

.border-current {
  border-color: currentColor;
}

.border-black {
  border-color: black;
}

.border-white {
  border-color: white;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-none {
  border-style: none;
}

.divide-y {
  & > * + * {
    border-top-width: 1px;
  }
}

.divide-x {
  & > * + * {
    border-left-width: 1px;
  }
}

.divide-y-2 {
  & > * + * {
    border-top-width: 2px;
  }
}

.divide-x-2 {
  & > * + * {
    border-left-width: 2px;
  }
}

.divide-y-4 {
  & > * + * {
    border-top-width: 4px;
  }
}

.divide-x-4 {
  & > * + * {
    border-left-width: 4px;
  }
}

.divide-y-8 {
  & > * + * {
    border-top-width: 8px;
  }
}

.divide-x-8 {
  & > * + * {
    border-left-width: 8px;
  }
}

.divide-transparent {
  & > * + * {
    border-color: transparent;
  }
}

.divide-current {
  & > * + * {
    border-color: currentColor;
  }
}

.divide-black {
  & > * + * {
    border-color: black;
  }
}

.divide-white {
  & > * + * {
    border-color: white;
  }
}

.divide-solid {
  & > * + * {
    border-style: solid;
  }
}

.divide-dashed {
  & > * + * {
    border-style: dashed;
  }
}

.divide-dotted {
  & > * + * {
    border-style: dotted;
  }
}

.divide-double {
  & > * + * {
    border-style: double;
  }
}

.divide-none {
  & > * + * {
    border-style: none;
  }
}

.shadow-xs {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.shadow-outline {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.shadow-none {
  box-shadow: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-100 {
  opacity: 1;
}

.transition-all {
  transition-property: all;
}

.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
}

.transition-opacity {
  transition-property: opacity;
}

.transition-shadow {
  transition-property: box-shadow;
}

.transition-transform {
  transition-property: transform;
}

.duration-75 {
  transition-duration: 75ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-150 {
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-600 {
  transition-duration: 600ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.ease-linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.delay-75 {
  transition-delay: 75ms;
}

.delay-100 {
  transition-delay: 100ms;
}

.delay-150 {
  transition-delay: 150ms;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-300 {
  transition-delay: 300ms;
}

.delay-500 {
  transition-delay: 500ms;
}

.delay-600 {
  transition-delay: 600ms;
}

.delay-1000 {
  transition-delay: 1000ms;
}

.scale-0 {
  transform: scale(0);
}

.scale-25 {
  transform: scale(0.25);
}

.scale-50 {
  transform: scale(0.5);
}

.scale-75 {
  transform: scale(0.75);
}

.scale-100 {
  transform: scale(1);
}

.-scale-x-100 {
  transform: scaleX(-1);
}

.-scale-y-100 {
  transform: scaleY(-1);
}

.-scale-100 {
  transform: scale(-1);
}

.rotate-0 {
  transform: rotate(0);
}

.rotate-45 {
  transform: rotate(45deg);
}

.-rotate-45 {
  transform: rotate(-45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.-rotate-90 {
  transform: rotate(-90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.-rotate-180 {
  transform: rotate(-180deg);
}

.origin-top {
  transform-origin: top;
}

.origin-right {
  transform-origin: right;
}

.origin-bottom {
  transform-origin: bottom;
}

.origin-left {
  transform-origin: left;
}

.outline-none {
  outline: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-events-auto {
  pointer-events: auto;
}

.pointer-events-none {
  pointer-events: none;
}

.resize {
  resize: both;
}

.resize-y {
  resize: vertical;
}

.resize-x {
  resize: horizontal;
}

.select-none {
  user-select: none;
}

.select-all {
  user-select: all;
}

.fill-current {
  fill: currentColor;
}

.stroke-current {
  stroke: currentColor;
}

.stroke-0 {
  stroke-width: 0;
}

.stroke-1 {
  stroke-width: 1;
}

.stroke-2 {
  stroke-width: 2;
}

.invisible-block {
  height: var(--height);
}

.lazyload {
  &[src] {
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

.indent-sm {
  text-indent: 2em;
}

.indent-md {
  text-indent: 3em;
}

.indent-lg {
  text-indent: 4em;
}

.writing-mode-horizontal {
  writing-mode: horizontal-tb;
}

.writing-mode-vertical {
  writing-mode: vertical-lr;
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
}

.grayscale {
  filter: grayscale(1);
}

.invert {
  filter: invert(1);
}

.sepia {
  filter: sepia(1);
}

.backdrop-blur {
  backdrop-filter: blur(20px);
}

.blend-normal {
  mix-blend-mode: normal;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.blend-screen {
  mix-blend-mode: screen;
}

.blend-overlay {
  mix-blend-mode: overlay;
}

.blend-darken {
  mix-blend-mode: darken;
}

.blend-lighten {
  mix-blend-mode: lighten;
}

.blend-color-dodge {
  mix-blend-mode: color-dodge;
}

.blend-color-burn {
  mix-blend-mode: color-burn;
}

.blend-hard-light {
  mix-blend-mode: hard-light;
}

.blend-soft-light {
  mix-blend-mode: soft-light;
}

.blend-difference {
  mix-blend-mode: difference;
}

.blend-exclusion {
  mix-blend-mode: exclusion;
}

.blend-hue {
  mix-blend-mode: hue;
}

.blend-saturation {
  mix-blend-mode: saturation;
}

.blend-color {
  mix-blend-mode: color;
}

.blend-luminosity {
  mix-blend-mode: luminosity;
}

.tap-highlight-none {
  -webkit-tap-highlight-color: none;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-check {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.form-check-inline {
  display: inline-flex;
  margin-right: 12px;
}

.hv-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-center {
  left: 50%;
  transform: translateX(-50%);
}

.v-center {
  top: 50%;
  transform: translateY(-50%);
}
