$basic-unit: 0.25;

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inset-x-0 {
  left: 0;
  right: 0;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

@for $i from 1 through 40 {
  .w-#{$i} {
    width: #{$i*$basic-unit}rem !important;
  }

  .h-#{$i} {
    height: #{$i*$basic-unit}rem !important;
  }

  .m-#{$i} {
    margin: #{$i*$basic-unit}rem !important;
  }

  .mt-#{$i} {
    margin-top: #{$i*$basic-unit}rem !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i*$basic-unit}rem !important;
  }

  .ml-#{$i} {
    margin-left: #{$i*$basic-unit}rem !important;
  }

  .mr-#{$i} {
    margin-right: #{$i*$basic-unit}rem !important;
  }

  .mx-#{$i} {
    margin-left: #{$i*$basic-unit}rem !important;
    margin-right: #{$i*$basic-unit}rem !important;
  }

  .my-#{$i} {
    margin-top: #{$i*$basic-unit}rem !important;
    margin-bottom: #{$i*$basic-unit}rem !important;
  }

  .p-#{$i} {
    padding: #{$i*$basic-unit}rem !important;
  }

  .pl-#{$i} {
    padding-left: #{$i*$basic-unit}rem !important;
  }

  .pr-#{$i} {
    padding-right: #{$i*$basic-unit}rem !important;
  }

  .pt-#{$i} {
    padding-top: #{$i*$basic-unit}rem !important;
  }

  .pb-#{$i} {
    padding-bottom: #{$i*$basic-unit}rem !important;
  }

  .px-#{$i} {
    padding-left: #{$i*$basic-unit}rem !important;
    padding-right: #{$i*$basic-unit}rem !important;
  }

  .py-#{$i} {
    padding-top: #{$i*$basic-unit}rem !important;
    padding-bottom: #{$i*$basic-unit}rem !important;
  }
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.contents {
  display: contents; // 充当无意义的包裹元素
}

.w-100 {
  width: 100%;
}

.box-border {
  box-sizing: border-box;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.flex-1 {
  flex: 1;
}

.text-transparent {
  color: transparent;
}

.text-white {
  color: white;
}

.text-xs {
  font-size: 8px;
}

.text-sm {
  font-size: 12px;
}

.text-base {
  font-size: 18px;
}

.text-lg {
  font-size: 24px;
}

.leading-none {
  line-height: 1;
}

.font-bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.whitespace-no-wrap {
  white-space: nowrap; // 使元素不换行
}

.whitespace-pre-wrap {
  white-space: pre-wrap; // 使元素保留换行符且能自动换行
}

.bg-transparent {
  background: transparent;
}

.bg-white {
  background: white;
}

.bg-black {
  background: black;
}

.rounded-sm {
  border-radius: 5px;
}

.rounded {
  border-radius: 10px;
}

.rounded-md {
  border-radius: 15px;
}

.rounded-lg {
  border-radius: 20px;
}

.rounded-full {
  border-radius: 50%;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.opacity-0 {
  opacity: 0;
}

[hidden] {
  display: none !important; // 隐藏元素
}

[disabled] {
  pointer-events: none !important; // 用户点击元素不会触发事件
}

img {
  max-width: 100%;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.object-top {
  object-position: top;
}

.object-right {
  object-position: right;
}

.object-bottom {
  object-position: bottom;
}

.object-left {
  object-position: left;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-events-none {
  pointer-events: none;
}

.select-none {
  user-select: none;
}

.select-all {
  user-select: all;
}

.invisible-block {
  height: var(--height); // 隐形方块，用来撑背景高度
}

[v-cloak] {
  display: none !important; // 防止元素闪现
}

.truncate {
  // 单行文本截断
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-multi {
  // 多行文本截断
  --line-clamp: 2;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
}

.lazyload {
  // 图片懒加载动画
  &[src] {
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

.grayscale {
  filter: grayscale(1); // 变灰
}

.form-group {
  display: flex;
  align-items: center;
}

.form-check {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.form-check-inline {
  display: inline-flex;
  margin-right: 12px;
}
